# Python
__pycache__

# OS
.DS_Store

# Data
*data
*results
*experiments_validation_results
*organised_data

# Backups
_backups_
_backups

# Private (internal) files / folders
.keys
.deprecated

# Development folders
*_dev


# Other
TODO